/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Welcome message styles */
.welcome-message {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-top: 50px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

form p {
    margin: 10px 0;
}

input[type="submit"], a {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

/* Task item styles */
.item, .itemt {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.itemt {
    background-color: #f5f5f5; /* Light grey background color for completed tasks */
}

/* Checkbox styles */
.check, .checkt {
    margin-right: 10px;
}

/* Update and delete button styles */
.update-icon, .delete-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 5px;
}

.update-icon {
    color: #2196F3; /* Blue color for update icon */
}

.delete-icon {
    color: #F44336; /* Red color for delete icon */
}

/* Cool background styles */
.cool-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.circle {
    position: absolute;
    background-color: #fff; /* White circle color */
    border-radius: 50%;
    opacity: 0.3;
}

.circle-green {
    width: 100px;
    height: 100px;
    top: 30%;
    left: 10%;
}

.circle-white {
    width: 80px;
    height: 80px;
    top: 40%;
    right: 15%;
}

.circle-green-2 {
    width: 70px;
    height: 70px;
    top: 70%;
    right: 5%;
}

.circle-white-2 {
    width: 120px;
    height: 120px;
    top: 60%;
    left: 25%;
}

/* Additional styling for sign-up and login pages */
.container h2 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-top: 50px;
}

.container a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.form-container {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 400px;
}

.form-container h2 {
    text-align: center;
    font-size: 24px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container p {
    margin: 10px 0;
}

.form-container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

.form-container p a {
    color: #2196F3;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
}

.form-container p a:hover {
    text-decoration: underline;
}
