{% extends 'to_do_list/layout.html'%}
{% load static %}
    {% block title %} Vazifa Yaratish {% endblock %}
    {% block head %} 
        <link rel="stylesheet" href="{% static 'to_do_list/read_style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            /* Custom border styles for form fields */
            .form-group input,
            .form-group textarea,
            .form-group select {
                border: 1px solid #ced4da; /* Default border color */
                border-radius: 0.25rem; /* Rounded border */
                padding: 0.375rem 0.75rem; /* Adjust padding as needed */
            }
            .form-group input:focus,
            .form-group textarea:focus,
            .form-group select:focus {
                border-color: #4caf50; /* Border color on focus */
                outline: 0; /* Remove default focus outline */
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Focus shadow effect */
            }
        </style>
    {% endblock %}

    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <!-- Create To-Do Form -->
            <div class="card">
                <div class="card-header">
                    <h2>Vazifa Yaratish</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'createVazifa' %}">
                        {% csrf_token %}
                        <!-- Title Field -->
                        <div class="form-group">
                            <label for="{{ formMe.sarlavha.id_for_label }}">Sarlavha</label>
                            {{ formMe.sarlavha }}
                            {% if formMe.sarlavha.errors %}
                                <p class="error-message">{{ formMe.sarlavha.errors }}</p>
                            {% endif %}
                        </div>
                        <!-- Description Field -->
                        <div class="form-group">
                            <label for="{{ formMe.tuliq_malumot.id_for_label }}">Tavsif</label>
                            {{ formMe.tuliq_malumot }}
                            {% if formMe.tuliq_malumot.errors %}
                                <p class="error-message">{{ formMe.tuliq_malumot.errors }}</p>
                            {% endif %}
                        </div>
                        <!-- Todo date -->
                        <div class="form-group">
                            <label for="{{ formMe.input_date.id_for_label }}">Vazifa kuni</label>
                            {{ formMe.input_date }}
                            {% if formMe.input_date.errors %}
                                <p class="error-message">{{ formMe.input_date.errors }}</p>
                            {% endif %}
                        </div>
                        <!-- Start Field -->
                        <div class="form-group">
                            <label for="{{ formMe.boshlanish_vaqti.id_for_label }}">Boshlanish Vaqti</label>
                            {{ formMe.boshlanish_vaqti }}
                            {% if formMe.boshlanish_vaqti.errors %}
                                <p class="error-message">{{ formMe.boshlanish_vaqti.errors }}</p>
                            {% endif %}
                        </div>
                        <!-- Deadline Field -->
                        <div class="form-group">
                            <label for="{{ formMe.tugatish_muddati.id_for_label }}">Tugatish muddati</label>
                            {{ formMe.tugatish_muddati }}
                            {% if formMe.tugatish_muddati.errors %}
                                <p class="error-message">{{ formMe.tugatish_muddati.errors }}</p>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Vazifani yaratish</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
