{% extends 'to_do_list/layout.html'%}
{% load django_bootstrap5 %}
{% load static %}
    {% block title %} Vazifa Yaratish {% endblock %}
    {% block head %} 
        <link rel="stylesheet" href="{% static 'to_do_list/read_style.css' %}">
        <style>
            .form input[type="checkbox"]{
                display: none;
            }
            .form-check-label{
                display: none;
            }
        </style>
    {% endblock %}

    {% block content %}
    <div class="container">
        <div class="row justify-content-center">

            <!-- Create To-Do Form -->
            <div class="card">
                <div class="card-header">
                    <h2>Yaratish</h2>
                </div>
                <div class="row my-5">
                    <div class="col-md-12">
                <div class="card-body">
                    <form method="post" action="{% url 'createVazifa' %}" class="form">

                        {% bootstrap_form formMe %}
                        {% csrf_token %}
                        
                        <button type="submit" class="btn btn-primary btn-block"><strong>Vazifani yaratish</strong></button>
                    </form>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
    {% endblock %}
