{% extends 'to_do_list/layout.html' %}
{% block title %} Filter {% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'to_do_list/filterHistory.css' %}">
    <style>
        
    </style>
{% endblock %}
{% block content %}
    <div class="container justify-content-center card-body" id="done_undone">
        <div class="row">
            <div class="col done">
                <form action="{% url 'bajarilganVazifalar' idMe %}" method="get" class="done">
                    <button type="submit" class="btn">Bajarilgan</button>
                </form>
            </div>
            <div class="col undone">
                <form action="{% url 'unBajarilganVazifalar' idMe %}" method="get" class="undone">
                    <button type="submit" class="btn">Bajarilmagan</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                {% if bajarilgan %}
                <div class="card-header">
                    <h2>Bajarilgan Vazifalar ({{len_bajarilgan}})</h2>
                </div>
                {% endif %}
                {% if unBajarilgan %}
                <div class="card-header">
                    <h2>Bajarilgmagan Vazifalar ({{len_unBajarilgan}})</h2>
                </div>
                {% endif %}
                <div class="card-body">
                    <div class="task-list">
                        {% for i in bajarilgan %}
                        
                        <div class="item">

                            <div class="check check-green">
                                <i class="fa fa-check-circle"></i>
                            </div>

                            <div class="task-item">
                                <h1><strong>{{ i.sarlavha }}</strong></h1>
                                <p>{{ i.tuliq_malumot }}</p>
                                <h5>Start Time: {{ i.boshlanish_vaqti|time:"H:i:s" }}</h5>
                                <h5>Due Date: {{ i.tugatish_muddati|time:"H:i:s" }}</h5>
                                <h5>Bajarilgan_vaqt{{ i.bajarilgan_vaqt }}</h5>
                                
                                <div class="edit_del">
                                    <form action="{% url 'updateVazifa' i.id %}">
                                        {% csrf_token %}
                                        <button class="btn"><i class="fa fa-edit"></i></button>
                                    </form>
                                    <form action="{% url 'deleteVazifa' i.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn del"><i class="fa fa-trash"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>

                        {% endfor %}

                        <!-- For Undone Tasks -->
                        {% for i in unBajarilgan %}
                        <div class="item">

                            <div class="check check-red">
                                <i class="fa fa-times-circle"></i>
                            </div>

                            <div class="task-item">
                                <h1><strong>{{ i.sarlavha }}</strong></h1>
                                <p>{{ i.tuliq_malumot }}</p>
                                <h5>Start Time: {{ i.boshlanish_vaqti|time:"H:i:s" }}</h5>
                                <h5>Due Date: {{ i.tugatish_muddati|time:"H:i:s" }}</h5>
                                
                                <div class="edit_del">
                                    <form action="{% url 'updateVazifa' i.id %}">
                                        {% csrf_token %}
                                        <button class="btn"><i class="fa fa-edit"></i></button>
                                    </form>
                                    <form action="{% url 'deleteVazifa' i.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn del"><i class="fa fa-trash"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const buttons = document.querySelectorAll(".btn");
    
            buttons.forEach(button => {
                button.addEventListener("click", function () {
                    buttons.forEach(btn => btn.classList.remove("active"));
                    this.classList.add("active");
                });
            });
        });
    </script>

{% endblock %}
