{% extends 'to_do_list/layout.html' %}
{% block title %} Filter {% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'to_do_list/filterHistory.css' %}">
{% endblock %}
{% block content %}
    <div class="done_undone">
        <a href="{% url 'bajarilganVazifalar' idMe %}">Bajarilgan {{len_bajarilgan}}</a>
        <a href="{% url 'unBajarilganVazifalar' idMe %}">Bajarilmagan {{len_unBajarilgan}}</a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2>Bajarilgan Vazifalar</h2>
                </div>
                <div class="card-body">
                    <div class="task-list">
                        {% for i in bajarilgan %}
                        
                        <div class="item">

                            <div class="check check-green">
                                <i class="fa fa-check-circle"></i>
                            </div>

                            <div class="task-item">
                                <h1><strong>{{ i.sarlavha }}</strong></h1>
                                <p>{{ i.tuliq_malumot }}</p>
                                <h5>Start Time: {{ i.boshlanish_vaqti|time:"H:i:s" }}</h5>
                                <h5>Due Date: {{ i.tugatish_muddati|time:"H:i:s" }}</h5>
                                <h5>Bajarilgan_vaqt{{ i.bajarilgan_vaqt }}</h5>
                                
                                <div class="edit_del">
                                    <form action="{% url 'updateVazifa' i.id %}">
                                        {% csrf_token %}
                                        <button class="btn"><i class="fa fa-edit"></i></button>
                                    </form>
                                    <form action="{% url 'deleteVazifa' i.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn del"><i class="fa fa-trash"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>

                        {% endfor %}

                        <!-- For Undone Tasks -->
                        {% for i in unBajarilgan %}
                        <div class="item">

                            <div class="check check-red">
                                <i class="fa fa-times-circle"></i>
                            </div>

                            <div class="task-item">
                                <h1><strong>{{ i.sarlavha }}</strong></h1>
                                <p>{{ i.tuliq_malumot }}</p>
                                <h5>Start Time: {{ i.boshlanish_vaqti|time:"H:i:s" }}</h5>
                                <h5>Due Date: {{ i.tugatish_muddati|time:"H:i:s" }}</h5>
                                
                                <div class="edit_del">
                                    <form action="{% url 'updateVazifa' i.id %}">
                                        {% csrf_token %}
                                        <button class="btn"><i class="fa fa-edit"></i></button>
                                    </form>
                                    <form action="{% url 'deleteVazifa' i.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn del"><i class="fa fa-trash"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
