{% extends 'to_do_list/layout.html' %}
{% block title %} Vazifalar Tarixi {% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'to_do_list/history_style.css' %}">
{% endblock %}
{% block content %}
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2>History Vazifalar</h2>
                </div>
                <div class="card-body">
                    <ul>
                        {% for i in modelMe %}
                        <li>
                            <a href="{% url 'bajarilganVazifalar' i.id %}">{{ i.date }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}