{% extends 'to_do_list/layout.html' %}
{% block title %} Vazifalar Tarixi {% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'to_do_list/read_style.css' %}">

{% endblock %}
{% block content %}
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2>History Vazifalar</h2>
                </div>
                <div class="card-body">
                        {% for i in modelMe %}
                            <a href="{% url 'bajarilganVazifalar' i.id %}" style="text-decoration: none; color:white;"><div class="item" style="margin-bottom:10px; background-color: #4caf50; display: flex; align-items: center; justify-content: center; font-size: larger;">{{ i.date }}</div></a>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}