{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'to_do_list/media/Untitled.png' %}" type="image/icon type">

    <!-- {% load django_bootstrap5 %} -->
    <!-- {% bootstrap_css %} -->
    
    {% bootstrap_messages %}
    
    {% block head %}
    {% endblock %}
</head>
<body> 
    <div class="cool-background">
        <div class="circle circle-green"></div>
        <div class="circle circle-white"></div>
        <div class="circle circle-green-2"></div>
        <div class="circle circle-white-2"></div>
    </div>

   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                {% load static %}
                <span class="logo-icon"><img src="{% static 'to_do_list/media/Untitled.png' %}" class="image" style="height: 70px; width: 100px;"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'readVazifa' %}"><i class="fa fa-list-ul"></i> Vazifalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/historyVazifa/"><i class="fa fa-tasks"></i> Tarix</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'progress' %}"><i class="fa fa-chart-line">&#xf201;</i> Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profileFoydalanuvchi/"><i class="fa fa-user"></i> Mening sahifam</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

{% block script %}
{% endblock %}
</html>
