{% extends 'to_do_list/layout.html' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static%}
    <link rel="stylesheet" href="{% static 'to_do_list/read_style.css' %}">
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Add custom CSS styles for the chart container */
        .chart-container {
            position: relative;
            height: 500px; /* Adjust the height as needed */
            overflow-x: auto;
            margin-top: 20px;
        }
        /* Apply your custom CSS styles here */
        
    </style>
{% endblock %}
{% block content %}

    <div class="container">
        <h1></h1>

        <div class="row">
            <div class="col-md-12">
                <div class="chart-container">
                    <canvas id="progressChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        var ctx = document.getElementById('progressChart').getContext('2d');
        var dataJson = {{ data_json|safe }};

        var labels = Object.keys(dataJson);
        var values = Object.values(dataJson);

        var progressChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Progress',
                    data: values,
                    borderColor: '#4caf50',
                    backgroundColor: '#fff',
                    borderWidth: 2,
                    pointRadius: 0,
                }]
            },
            options: {
                responsive: true, // Enable responsive behavior
                maintainAspectRatio: false, // Disable aspect ratio maintenance
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMax: 10,
                        ticks: {
                            callback: function(value, index, values) {
                                return value + ' soat';
                            }
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}