<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vazifalar Ro'yxati</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'to_do_list/read_style.css' %}">
    
    
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <span class="logo-icon"><i class="fa fa-check-circle"></i></span>
                To-do App
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-list-ul"></i> To-do</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-tasks"></i> Progress</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user"></i> Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    
    <div class="cool-background">
        <div class="circle circle-green"></div>
        <div class="circle circle-white"></div>
        <div class="circle circle-green-2"></div>
        <div class="circle circle-white-2"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h2>Vazifalar Ro'yxati</h2>
                </div>
                <div class="card-body">
                    <div class="task-list">
                        {% for i in modelMe %}

                        {% if not i.bajarildi%}
                            <div class="item">

                                <div class="chec">
                                    <form action="{% url 'bajarildiVazifa' i.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="checkbox" name="check" onchange="this.form.submit()">
                                    </form>
                                </div>

                                <div class="task-item {% if i.bajarildi %}completed-task{% endif %}">
                                    <h1><strong>{{ i.sarlavha }}</strong></h1>
                                    <p>{{ i.tuliq_malumot }}</p>
                                    <h5>{{ i.tugatish_muddati }}</h5>
        
                                    <div class="edit_del">
                                        <form action="{% url 'updateVazifa' i.id %}">
                                            {% csrf_token %}
                                            <button class="btn"><i class="fa fa-edit"></i></button>
                                        </form>
                                        <form action="{% url 'deleteVazifa' i.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn del"><i class="fa fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                    <div class="add">
                        <form action="{% url 'createVazifa' %}" method="get">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-block">+</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Bootstrap JS and jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body> 
</html>


