{% extends 'to_do_list/layout.html'%}

    {% block title %}Vazifalar Ro'yhati{% endblock %}

    {% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'to_do_list/read_style.css' %}">
    {% endblock %}

    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% for group in modelMe %}
                <div class="card" style="
                padding-bottom: 20px; padding-top: -30px;">
                    <div class="card-header">
                        <h2>Vazifalar Ro'yxati</h2>
                        <h2>{{ group.vazifa_kuni }}</h2>
                    </div>
                    
                    {% for vazifa in group.vazifalar %}
                        <div class="card-body" style="margin-top: 10px;">
                            
                                <div class="item">
                                        <div class="chec">
                                            <form action="{% url 'bajarildiVazifa' vazifa.id %}" method="post">
                                                {% csrf_token %}
                                                <input type="checkbox" name="check" onchange="this.form.submit()">
                                            </form>
                                        </div>

                                    <div class="task-item">
                                        <h1><strong>{{ vazifa.sarlavha }}</strong></h1>
                                        <p>{{ vazifa.tuliq_malumot }}</p>
                                        <h5>Start Time: {{ vazifa.boshlanish_vaqti|time:"H:i:s" }}</h5>
                                        <h5>Due Date: {{ vazifa.tugatish_muddati|time:"H:i:s" }}</h5>
                                        {% if vazifa.boshlanish_vaqti <= timeMe %}
                                            <h5>Time Remaining: <span id="countdown_{{ vazifa.id }}"></span></h5>

                                            <script>
                                                // Get the start time and deadline for the current to-do item
                                                var startTime = new Date('{{ group.vazifa_kuni }} {{ vazifa.boshlanish_vaqti|time:"H:i:s" }}').getTime();
                                                var deadline = new Date('{{ group.vazifa_kuni}} {{vazifa.tugatish_muddati|time:"H:i:s"}}').getTime();
                                                
                                                // Function to update the countdown
                                                function updateCountdown() {
                                                    // Get the current date and time
                                                    var now = new Date().getTime();
                                                    
                                                    // Calculate the remaining time
                                                    var timeLeft = deadline - now;
    
                                                    console.log("startTime:", startTime);
                                                    console.log("deadline:", deadline);
                                                    console.log("timeLeft:", timeLeft);
                                                    
                                                    // Calculate days, hours, minutes, and seconds
                                                    var days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
                                                    var hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                                    var minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
                                                    var seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

                                                    // Display the remaining time in the element with id="countdown_{{ vazifa.id }}"
                                                    var countdownElement = document.getElementById('countdown_{{ vazifa.id }}');

                                                    // Check if there are 3 or fewer minutes left
                                                    if (days === 0 && hours === 0 && minutes <= 3) {
                                                        // Set the countdown text to red
                                                        countdownElement.style.color = "red";
                                                    } else {
                                                        // Set the countdown text to black
                                                        countdownElement.style.color = "#4caf50";
                                                    }

                                                    // Display the remaining time
                                                    countdownElement.innerHTML = hours + "h " + minutes + "m " + seconds + "s ";

                                                    // If the countdown has expired, display "Expired" and return
                                                    if (timeLeft < 0) {
                                                        countdownElement.innerHTML = "Expired";
                                                        return;
                                                    }

                                                    
                                                    // If the current time is less than the start time, set a timeout to start the countdown when the start time is reached
                                                    if (now < startTime) {
                                                        setTimeout(updateCountdown, startTime - now);
                                                    } else {
                                                        // Otherwise, update the countdown every second
                                                        setTimeout(updateCountdown, 1000);
                                                    }
                                                }
                                                
                                                // Call the updateCountdown function to start the countdown
                                                updateCountdown();
                                            </script>
                                        {% endif %}
            
                                        <div class="edit_del">
                                            <form action="{% url 'updateVazifa' vazifa.id %}">
                                                {% csrf_token %}
                                                <button class="btn"><i class="fa fa-edit"></i></button>
                                            </form>
                                            <form action="{% url 'deleteVazifa' vazifa.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn del"><i class="fa fa-trash"></i></button>
                                            </form>
                                        </div>

                                        
                                    </div>

                                </div>
                        </div>
                    {% endfor %}
                </div>
            {%endfor%}
            <div class="card">
                <form action="{% url 'createVazifa' %}" method="get">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block">+</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    

