{% extends 'accounts/profileFoydalanuvchi.html' %}
{% load django_bootstrap5 %}
{% block style %}
<style>
    .username{
        display: none;
    }
    .form-label, .form-control-static, .form-text{
        display: none;
    }
</style>
{% endblock %}

{% block username %}
    <form method="post" action="changeUsername" class="form forrrm">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn">O'zgarishni saqlash</button>
    </form>
{% endblock %}