{% extends 'accounts/layout.html' %}
{% load static %}
{% block title%}Profile{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'to_do_list/media/Untitled.png' %}" type="image/icon type">
    <style>

        .profile-card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .field {
            margin-bottom: 20px;
            padding: 10px;
            border-bottom: 1px solid #eee;
        }

        .field h5 {
            margin: 0;
            padding: 0;
        }

        .edit-link {
            text-decoration: none;
            color: #3498db;
            margin-left: 10px;
        }

        .edit-icon {
            font-size: 20px;
            color: #3498db;
        }

        .logout-btn {
            background-color: #ff6348;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            margin-bottom: 10px;
        }

        .delete-btn {
            background-color: #e74c3c;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
    {% block style%}
    {% endblock %}
{% endblock %}
{% block navbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                {% load static %}
                <span class="logo-icon"><img src="{% static 'to_do_list/media/Untitled.png' %}" class="image" style="height: 70px; width: 100px;"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'readVazifa' %}"><i class="fa fa-list-ul"></i> Vazifalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/historyVazifa/"><i class="fa fa-tasks"></i> Tarix</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'progress' %}"><i class="fa fa-chart-line">&#xf201;</i> Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profileFoydalanuvchi/"><i class="fa fa-user"></i> Mening sahifam</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="profile-card">
            <div class="field username">
                <h5>Ism: {{ request.user.username }}</h5>
                <a href="{% url 'changeUsername' %}" class="edit-link"><i class="fa fa-edit edit-icon"></i></a>
            </div>
            <!-- Username Block -->

            {% block username%}
            {% endblock %}

            <div class="field email">
                <h5>Email: {{ request.user.email }}</h5>
                <a href="{% url 'changeEmail' %}" class="edit-link"><i class="fa fa-edit edit-icon"></i></a>
            </div>
            <!-- Email Block -->

            {% block email %}
            {% endblock %}

            <div class="field password">
                <h5>Parol: ********</h5>
                <a href="{% url 'changeProfile' %}" class="edit-link"><i class="fa fa-edit edit-icon"></i></a>
            </div>
            <!-- Password Block -->

            <div class="field logout">
                <div class="red-zone">
                    <form action="{% url 'logoutFoydalanuvchi' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Sahifadan chiqish</button>
                    </form>
                    <form action="{% url 'deleteFoydalanuvchi' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn">Sahifani o'chirish</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    
{% endblock %}

{% block script %}
<script>
// var prevButton = null;

// function changeColor(button) {
//   // Generate a random RGB color
//   var red = Math.floor(Math.random() * 256);
//   var green = Math.floor(Math.random() * 256);
//   var blue = Math.floor(Math.random() * 256);
//   var color = "rgb(" + red + ", " + green + ", " + blue + ")";
  
//   // Change the background color of the clicked button
//   button.style.backgroundColor = color;
  
//   // Reset the background color of the previous button
//   if (prevButton !== null && prevButton !== button) {
//     prevButton.style.backgroundColor = "";
//   }
  
//   // Store the current button as the previous button
//   prevButton = button;
// }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}