{% extends 'accounts/layout.html' %}
{% load static %}
{% block title%}Profile{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'to_do_list/media/Untitled.png' %}" type="image/icon type">
    {% block style%}
    {% endblock %}
{% endblock %}
{% block navbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 0px; padding-bottom: 0px; height: 80px;">
        <div class="container" style="margin-top: 0px; margin-bottom: 0px;">
            <a class="navbar-brand" href="#">
                {% load static %}
                <span class="logo-icon"><img src="{% static 'to_do_list/media/Untitled.png'%}" class="image" style="height: 70px; width: 100px;"></span>
                
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'readVazifa' %}"><i class="fa fa-list-ul"></i> To-do</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historyVazifa/"><i class="fa fa-tasks"></i> Progress</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profileFoydalanuvchi/"><i class="fa fa-user"></i> Profile</a>
                </li>
            </ul>
        </div>
    </nav> 
{% endblock %}

{% block content %}

    <div class="info">
        <div class="field username">
            <h1><strong>{{ request.user.username }}</strong></h1>
                <a href="{% url 'changeUsername' %}"><i class="fa fa-edit"></i></a>
        </div>
        {% block username%}
        {% endblock %}
        <div class="field email">
            <h3>{{ request.user.email }}</h3>
            <a href="{% url 'changeEmail' %}"><i class="fa fa-edit"></i></a>
        </div>  
        {% block email %}
        {% endblock %}  
        <div class="field passwordbtn">
            <form action="{% url 'changeProfile' %}" method="get" class="passwordbtn">
                {% csrf_token %}
                <button type="submit" class="btn">Parolni yangilash</button>
            </form>
        </div>
        <div class="field logout">
            <form action="{% url 'logoutFoydalanuvchi' %}" method="post" class="passwordbtn">
                {% csrf_token %}
                <button type="submit" class="logout">Sahifadan chiqish</button>
            </form>
        </div>
    </div>


    
{% endblock %}

{% block script %}
<script>
// var prevButton = null;

// function changeColor(button) {
//   // Generate a random RGB color
//   var red = Math.floor(Math.random() * 256);
//   var green = Math.floor(Math.random() * 256);
//   var blue = Math.floor(Math.random() * 256);
//   var color = "rgb(" + red + ", " + green + ", " + blue + ")";
  
//   // Change the background color of the clicked button
//   button.style.backgroundColor = color;
  
//   // Reset the background color of the previous button
//   if (prevButton !== null && prevButton !== button) {
//     prevButton.style.backgroundColor = "";
//   }
  
//   // Store the current button as the previous button
//   prevButton = button;
// }
</script>
{% endblock %}