.navbar{
    overflow: hidden;
    top:-20px;
    left: -20px;
    margin-right: -40px;
    background-color: #ffffff8e;
}

.nav-item{
    margin-left:15px;
}
.info-change{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid grey;
    padding: 10px;
    margin: 10px;
}

.btn {
    background-color: #4caf50; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 5px 9px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    display: block;
    margin-right: 5px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #76c679;
}

.btn:focus{
    background-color: aliceblue;
    color:black;
}

.info{
    display:grid;
    justify-content: center;
    align-items: center;
}
.info h1{
    text-align-last: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}


.yellow_zone{
    margin-top:5%;
}

.yellow_zone label{
    display: none;
}

.red_zone{
    background-color: rgba(253, 204, 204, 0.356);
    border: 2px solid red;
    border-radius: 10px;
    padding: 2%;
    margin-top: 3%;
    display: flex;
}
.red_zone .logout{
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 39, 39);
    width: auto;
    height: 30px;
}
.red_zone .logout:hover{
    background-color: rgba(255, 8, 0, 0.514);
}
.red_zone .delete{
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid red;
    width: auto;
    height: 30px;
}

.red_zone .delete:hover{
    background-color: red;
    color: white;
}