.navbar{
    overflow: hidden;
    top:-20px;
    left: -20px;
    margin-right: -40px;
    background-color: #ffffff8e;
}

/* *{
    border:1px solid red;
} */

.nav-item{
    margin-left:15px;
}
.info-change{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid grey;
    padding: 10px;
    margin: 10px;
}

.btn {
    background-color: #4caf50; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 5px 9px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    display: block;
    margin-right: 5px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #76c679;
}

.btn:focus{
    background-color: aliceblue;
    color:black;
}

.info{
    display:flexbox;
    justify-content: last baseline;
    padding-right: 0px;
    padding-left: auto;
}
.info h1{
    font-family: 'Courier New', Courier, monospace;
}

.field{
    margin-right: 0px;
    margin-left: auto;
    display: flex;
    justify-content: last baseline;
    border-bottom: 1px solid black;
}

.field a{
    margin-right: 0px;
    margin-left: auto;

}
.email{
    margin-top:10px;
}

.passwordbtn{
    margin-top: 10px;
    margin-right: 0px;
    margin-left: auto;
    border:none;
}

.yellow_zone{
    margin-top:5%;
}

.yellow_zone label{
    display: none;
}

.red_zone{
    border-radius: 10px;
    padding: 2%;
    margin-top: 3%;
    display: flex;
    margin-right: 0px;
    margin-left:auto;
}
.field .logout{
    background-color: white;
    margin-right: 0px;
    margin-left:auto;
    border-radius: 5px;
    border: 1px solid rgb(255, 39, 39);

}
.logout{
    border: none;
}
.field .logout:hover{
    background-color: rgba(255, 8, 0, 0.514);
}
.red_zone .delete{
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid red;
    width: auto;
    height: 30px;
}

.red_zone .delete:hover{
    background-color: red;
    color: white;
}